################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/1stgithubproject/.vs/1stgithubproject/v16
/1stgithubproject/1stgithubproject/obj
